:root {
    --background: #ffffff;
    --foreground: #171717;

    --light-blue: #00D0FF;
    --dark-blue: #091655;
    --light-red: #ff7063;
    --light-cyan: #21DDB9;
    --light-green: #B7FF00;
    --dark-violet: #130622;
    --dark-violet-form: #1e0e31;

    --font-soyuz-grotesk: ;
    --font-manrope: ;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-size: clamp(12px, 12px + (100vw - 575px) / (1920 - 575) * (18 - 12), 18px);
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-color: #C4C4C4 #E6E9ED;
    scrollbar-width: thin;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

#payout-form {
    display: flex !important;
    justify-content: flex-start !important;
    width: 100% !important;
    text-align: left !important;
    margin-left: 0 !important;
    margin-right: auto !important;
}

#payout-form * {
    text-align: left !important;
    margin-left: 0 !important;
}