services:
  db:
    image: postgres:15
    container_name: venture-platform-db
    restart: always
    environment:
      - POSTGRES_DB=venture-platform-db
      - POSTGRES_USER=comrade
      - POSTGRES_PASSWORD=secret_password
    ports:
      - "5432:5432"
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql/data
    platform: linux/arm64

  app:
    build: .
    platform: linux/arm64
    container_name: venture-platform
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: comrade
      DB_PASSWORD: secret_password
      DB_NAME: venture-platform-db
    restart: always
    entrypoint: ["/venture-platform"]

  datagen:
    build: .
    platform: linux/arm64
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://comrade:secret_password@db:5432/venture-platform-db?sslmode=disable
      - NUM_USERS=10
      - NUM_ORGANIZATIONS=12000
      - NUM_PROJECTS=24000
    entrypoint: ["/datagen"]

volumes:
  pgdata:
