.preview {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: inherit;
    cursor: pointer;
    background-color: #656662; /* Темно-серый фон карточки */
    border: 1px solid #4a4a4a;
    border-radius: 8px;
    overflow: hidden; /* Чтобы картинка не вылезала за скругления */
    transition: transform 0.2s, box-shadow 0.2s;
    height: 100%; /* Чтобы карточки в гриде были одной высоты */
}

.preview:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border-color: #DB935B; /* Бледно-коричневая рамка при наведении */
}

.preview_image {
    width: 100%;
    /* Добавляем явную высоту или соотношение сторон, которое поддерживается всеми браузерами */
    height: 200px; /* Фиксированная высота */
    /* ИЛИ */
    aspect-ratio: 16 / 9;

    position: relative; /* Обязательно для Image fill */
    background-color: #333;
    overflow: hidden; /* Обрезаем лишнее */
    border-radius: 8px 8px 0 0; /* Скругление сверху */
}

/* И сам Image внутри */
.preview_image img {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
}

.image_element {
    object-fit: cover; /* Ключевое свойство: обрезает лишнее, сохраняя пропорции */
    width: 100%;
    height: 100%;
}

.preview_content {
    padding: 0 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Растягиваем контент */
}

.preview_name {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    font-family: var(--font-montserrat);
    font-weight: 800;
    color: #FFFFFF;
    line-height: 1.2;
    /* Ограничение заголовка в 2 строки */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.preview_description {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #e0e0e0;
    /* Ограничение описания в 3 строки */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1rem;
}

.progress_bar {
    height: 6px;
    background-color: #4a4a4a;
    border-radius: 3px;
    margin-top: auto; /* Прижимаем к низу */
    overflow: hidden;
}

.progress_fill {
    height: 100%;
    background-color: #825e9c; /* Фиолетовый прогресс */
    border-radius: 3px;
}

.money_info {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: #ccc;
    display: flex;
    justify-content: space-between;
}