.main_container {
    color: white;
    padding-bottom: 58px;
    text-align: center;
    background-color: var(--dark-violet);
}

.content_wrapper {
    padding-left: 3.125em;
    padding-right: 3.125em;
    margin: auto;
}

.heading {
    font-size: 28px;
    font-weight: 700;
    padding-top: 52px;
    margin-bottom: 9px;
}

.project_options_container {
    color: var(--light-blue);
}

.project_card_container {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 278px;
    height: 380px;
    margin: 11px;
}

.project_card {
    background-color: var(--dark-violet-form);
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 20px;
    position: relative;
    height: 100%;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 6px;
    display: block;
    text-align: left;
}

.card_title {
    color: white;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.card_description {
    color: white;
    cursor: pointer;
    font-size: 0.875rem;
    margin-bottom: 9px;
}

.primary_button {
    color: black;
    background-color: var(--light-green);
    align-items: center;
    bottom: 28px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    justify-content: center;
    position: absolute;
    display: flex;
    width: 230px;
    height: 40px;
    border-radius: 6px;
    overflow: visible;
    outline: none;
    border: none;
}